* {
    font-family: 'Jura', sans-serif;
    margin: 0;
}

body {
    background-color: #161616;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C4848;
    margin: 1em 0em;
    padding: 1em 2em;
}

.left-header {
    display: flex;
    align-items: center;

}

.mobile-links {
    display: none;
}

.fa-basketball {
    font-size: 1.5em;
    margin-right: .75rem;
    color: #FF2F1B;
}

.dif-color-comp-name {
    color: #FF2F1B;
}

.right-header {
    display: flex;
    align-items: center;
}

.fa-bars {
    font-size: 1.5em;
    
}

.burger-menu {
    display: none;
}

.open-burger-menu {
    display: none;
}

.header-link {
    display: flex;
    margin-left: 2em;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: 700;
}

.main-area {
    padding: 10em 2em;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

.standings-title {
    display: flex;
    justify-content: center;
    font-size: 1.75em;
    padding-top: .75em;
    font-weight: 700;
}

.conference-select {
    display: flex;
    justify-content: space-around;
    padding: .75em 0em .75em 0;
    font-size: 1.25em;
    width: 22em;
    
}

.east-conf-select {
    font-weight: 900;
}

.standings-div {
    background-color: #FF2F1B;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1em;
    width: 500px;
    height: auto;
}

.team-stats-cats {
    display: flex;
    padding: .5em 0;
    font-size: 1.25em;
    font-weight: 900;
}

.eastern-stats {
    display: flex;
    flex-direction: row;
    font-size: .9em;
    font-weight: 900;
}

.team-col {
    margin-left: 1.5em;
    margin-right: 1.75em;
}

.wins-col {
    margin-left: .25em;
}

.ranks {
    margin-left: 0em;
    font-size: 1.25em;
    font-weight: 900;
}
.teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: .5em;
    font-size: 1.25em;
    font-weight: 900;
}


.wins {
    margin-left: 1.25em;
    font-size: 1.25em;
    font-weight: 900;
}

.losses-col {
    margin-left: 1em;
}

.losses {
    margin-left: .75em;
    font-size: 1.25em;
    font-weight: 900;
}

.win-pct-col {
    margin-left: 1em;
}

.pct {
    margin-left: .25em;
    font-size: 1.25em;
    font-weight: 900;
}

.gb-col {
    margin-left: 1em;
}

.gb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: .75em;
    font-size: 1.25em;
    font-weight: 900;
}

.conf-record-col {
    margin-left: .75em;
}

.conf {
    margin-left: .75em;
    font-size: 1.25em;
    font-weight: 900;
}

.home-record-col {
    margin-left: .75em;
}

.home {
    margin-left: .75em;
    font-size: 1.25em;
    font-weight: 900;
}

.away-record-col {
    margin-left: .5em;
}

.last-ten-record-col {
    margin-left: .75em;
}

.win-streak-col {
    margin-left: .5em;
}

.away {
    font-size: 1.25em;
    margin-left: .75em;
    font-weight: 900;
}

.last-ten {
    font-size: 1.25em;
    margin-left: 1em;
    font-weight: 900;
}

.streak {
    font-size: 1.25em;
    margin-left: 1em;
    margin-right: 1.25em;
    font-weight: 900;
}

.see-more-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
    font-size: 1.5em;
    
}

.western-stats {
    display: none;
    flex-direction: row;
    font-size: .9em;
    font-weight: 900;
}

.eastern-see-more-stats {
    display: none;
    flex-direction: row;
    font-size: .9em;
    font-weight: 900;
}

.western-see-more-stats {
    display: none;
    flex-direction: row;
    font-size: .9em;
    font-weight: 900;
}

.eastern-see-more-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    font-size: 1.25em;
}

.western-see-more-div {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    font-size: 1.25em;
    
}

.eastern-close-more-div {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    font-size: 1.25em;
}

.western-close-more-div {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    font-size: 1.25em;
}

.gallery-div {
    width: 500px;
    height: 400px;
    background-image: url('./images/image1.webp');
    background-size: 500px 400px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    font-weight: 900;
}

.inner-gal {
    display: flex;  
    align-items: center;
    margin-top: 16em;
}

.gallery-button {
    background-color: #FF2F1B;
    width: auto;
    font-size: 1.75em;
    font-weight: 900;
    width: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75em;
    border-radius: 2em;
    margin: 0em 1em;
}

.left-arrow-gallery {
    display: flex;
    font-size: 3em;
    background-color: black;
    color: #FF2F1B;
    border-radius: 1.125em;
    
}

.right-arrow-gallery {
    display: flex;
    font-size: 3em;
    background-color: black;
    color: #FF2F1B;
    border-radius: 1.125em;
    
}

footer {
    background-color: #4C4848;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 900;
    padding: 1.25em 3em;
}

footer div {
    width: 335px;
}

footer a {
    font-size: 1.5em;
    margin: 0 .25em;
    color: white;
}

.burger-menu :hover {
    cursor: pointer;
}

.gallery-button :hover {
    cursor: pointer;
}

.left-arrow-gallery :hover {
    cursor: pointer;
}

.right-arrow-gallery :hover {
    cursor: pointer;
}

.eastern-see-more-div :hover {
    cursor: pointer;
}

.eastern-close-more-div :hover {
    cursor: pointer;
}

.western-see-more-div :hover {
    cursor: pointer;
}

.western-close-more-div :hover {
    cursor: pointer;
}

.east-conf-select {
    cursor: pointer;
}

.west-conf-select {
    cursor: pointer;
}





@media  (max-width: 1200px) {
    .fa-bars {
        font-size: 1.5em;
    }

    .burger-menu {
        display: flex;
    }

    .burger-menu-open {
        display: none;
    }
    
    header {
        margin-bottom: 0;
    }

    .mobile-links {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 7em;
        background-color: #4C4848;
        width: 100%;
        height: 10em;
    }

    .mobile-link {
        margin: .25em;
        text-decoration: none;
        font-size: 1.25em;
        color: black;
        font-weight: 700;
    }

    .header-link {
        display: none;
    }
    
    .main-area {
        padding: 3em 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .standings-title {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        padding: .25em 0em;
        font-weight: 700;
    }
    
    .conference-select {
        display: flex;
        justify-content: space-around;
        padding: .75em 0em .75em 0;
        font-size: .75em;
        width: 22em;
        
    }
    
    .east-conf-select {
        font-weight: 900;
    }
    
    .standings-div {
        background-color: #FF2F1B;
        border-radius: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 1em;
        width: 326px;
        height: auto;
    }
    
    .team-stats-cats {
        display: flex;
        padding: .5em 0;
        font-size: .9em;
        font-weight: 900;
    }
    
    .eastern-stats {
        display: flex;
        flex-direction: row;
        font-size: .9em;
        font-weight: 900;
    }

    .western-stats {
        display: none;
        flex-direction: row;
        font-size: .9em;
        font-weight: 900;
    }

    .eastern-see-more-stats {
        display: none;
        flex-direction: row;
        font-size: .9em;
        font-weight: 900;
    }

    .western-see-more-stats {
        display: none;
        flex-direction: row;
        font-size: .9em;
        font-weight: 900;
    }
    
    .team-col {
        margin-left: 1.25em;
        margin-right: 1.5em;
    }
    
    .wins-col {
        margin-left: 1em;
    }
    
    .ranks {
        margin-left: .25em;
        font-size: .9em;
        font-weight: 900;
    }
    .teams {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1em;
        font-size: .9em;
        font-weight: 900;
    }
    
    
    .wins {
        margin-left: 1.25em;
        font-size: .9em;
        font-weight: 900;
    }
    
    .losses-col {
        margin-left: 1em;
    }
    
    .losses {
        margin-left: .75em;
        font-size: .9em;
        font-weight: 900;
    }
    
    .win-pct-col {
        margin-left: 1em;
    }
    
    .pct {
        margin-left: .25em;
        font-size: .9em;
        font-weight: 900;
    }
    
    .gb-col {
        margin-left: 1em;
    }
    
    .gb {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: .75em;
        font-size: .9em;
        font-weight: 900;
    }
    
    .conf-record-col {
        margin-left: .75em;
    }
    
    .conf {
        margin-left: .75em;
        font-size: .9em;
        font-weight: 900;
    }
    
    .home-record-col {
        margin-left: .75em;
    }
    
    .home {
        margin-left: .75em;
        font-size: .9em;
        font-weight: 900;
        margin-right: 0;
        width: 3em;
    }
    
    .away-record-col {
        margin-left: .5em;
    }
    
    .last-ten-record-col {
        margin-left: .75em;
    }
    
    .win-streak-col {
        margin-left: .5em;
    }
    
    .away {
        font-size: .9em;
        margin-left: .75em;
        font-weight: 900;
        width: 3.5em;
    }
    
    .last-ten {
        font-size: .9em;
        margin-left: .25em;
        font-weight: 900;
        width: 2em;
    }
    
    .streak {
        font-size: .9em;
        margin-left: .5em;
        font-weight: 900;
    }
    
    .eastern-see-more-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em 0;
        font-size: 1em;
    }

    .western-see-more-div {
        display: none;
        flex-direction: column;
        align-items: center;
        margin: 1em 0;
        font-size: 1em;
        
    }

    .eastern-close-more-div {
        display: none;
        flex-direction: column;
        align-items: center;
        margin: 1em 0;
        font-size: 1em;
    }

    .western-close-more-div {
        display: none;
        flex-direction: column;
        align-items: center;
        margin: 1em 0;
        font-size: 1em;
    }
    
    .gallery-div {
        width: 326px;
        height: 250px;
        background-image: url('./images/image1.webp');
        background-size: 326px 250px;
        border-radius: 30px;
        margin-top: 3em;
        display: flex;
        justify-content: center;
        font-weight: 900;
    }
    
    .inner-gal {
        display: flex;  
        align-items: center;
        margin-top: 9em;
    }
    
    .gallery-button {
        background-color: #FF2F1B;
        width: auto;
        font-size: 1.25em;
        font-weight: 900;
        width: 6em;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.75em;
        border-radius: 2em;
        margin: 0em 1em;
    }
    
    .left-arrow-gallery {
        display: flex;
        font-size: 2.25em;
        background-color: black;
        color: #FF2F1B;
        border-radius: 1.125em;
        
    }
    
    .right-arrow-gallery {
        display: flex;
        font-size: 2.25em;
        background-color: black;
        color: #FF2F1B;
        border-radius: 1.125em;
        
    }
    
    footer {
        background-color: #4C4848;
        display: flex;
        flex-direction: column;
        font-size: .75em;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        font-weight: 900;
        padding: 1em 0;
    }

    footer a {
        font-size: 1.25em;
        padding: .5em 0em;
        color: white;
    }
    
}